@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

//mixins
// @use 'mixins' as *;

h2 {
  margin-block-end: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h4 {
  margin: 0;
  padding: 0;
}

.card + .card {
  margin-top: 1rem;

  @media screen and (min-width: 992px) {
    margin-top: unset;
  }
}

.sig {
  font-size: 1rem;

  & + .sig {
    margin-top: 4rem;
  }

  &__name,
  &__pos,
  &__phones,
  &__link,
  &__social,
  &__address {
    margin-top: 0.2rem;
  }
  &__name {
    color: #0074ba;
    font-weight: 800;
  }

  &__pronoun {
    color: black;
    font-weight: 400;
    font-size: 90%;
  }

  &__pos span {
    font-weight: 400;
  }

  &__phones {
    display: flex;
    
    &--m {
      margin-left: .5rem;
    }
    span {
      color: black;

      span {
        color: #0074ba;
        font-weight: 700;
        margin-right: 0.2rem;
      }
    }
  }

  &__address {
    margin: 1.5rem 0;
    font-weight: 400;
  }

  &__link {
    color: black;
  }
}